################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API-BoilerPlate/.vs/API-BoilerPlate/v15
