<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
    <security>
      <authentication>
        <!--<windowsAuthentication enabled="false" />
        <anonymousAuthentication enabled="true" />-->
      </authentication>
    </security>
  </system.webServer>
  <!-- Environment variable in System will determine which environment we are using - relates to appsettings file -->
  <system.web>
    <httpRuntime maxRequestLength="500000000" executionTimeout="120" />
    <identity impersonate="false" />
  </system.web>
</configuration>